.header {
    display: flex;
    justify-content: space-between;
    background-color: #11334E;
    color: #fff;
    padding: 0 20px;
    height: 60px;
    align-items: center;
}

.header-left {
    display: flex;
    align-items: center;
}

.menu-icon {
    font-size: 46px;
}

.site-name {
    font-size: 22px;
    margin-left: 12px;
    font-weight: 600;
}

.header-right {
    display: flex;
    align-items: center;
    font-size: 22px;
}

.search-icon {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #11334E;
    border-radius: 10%;
    margin-right: 10px;
}

.icon {
    font-size: 28px;
    margin: 0 10px;
    cursor: pointer;
}

.divider {
    height: 25px;
    border: none;
    border-left: 1px solid #a8a8a8;
    margin: 0 10px;
}

@media (max-width: 768px) {
.menu-icon{
    font-size: 38px;
}
.header-right{
    font-size: 20px;
}
.search-icon{
    margin-right: 0;
}
.icon{
    font-size: 20px;
    margin: 5px;
}
}

