.section1 {
  border-bottom: 2px solid #eaeaea;
}

.breadcrumb {
  color: #A7A7A7;
  font-weight: 600;
}

.section2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.section2-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 18px;
  align-items: center;
  margin-right: 20px;
}

.section2-icon {
  font-size: 28px;
  color: #A7A7A7;
  cursor: pointer;
}

.section3 {
  border-bottom: 2px solid #eaeaea;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  flex-wrap: nowrap;

}

.status-box {
  background-color: #DBDBDB;
  padding: 6px 18px;
  border-radius: 5px;
  color: #A4A4A4;
  font-weight: 600;
  text-align: center;
  max-width: 90px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section3-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.mark-btn {
  background-color: #11334E;
  color: #fff;
  padding: 10px 20px;
  border: none;
  margin-right: 20px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  font-weight: 600;
}


.main-container {
  display: flex;
  flex-direction: column;
}

.section4 {
  display: flex;
  width: 100%;
  gap: 20px;
}


@media (max-width: 1024px) {
  .section3-btn button {
    width: 100%;
  }

  .main-container {
    display: flex;
    flex-direction: column;
  }

  .section4 {
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .section2 {
    flex-direction: row;
  }

  .section2 h1 {
    font-size: 26px;
  }

  .section3 {
    overflow-x: scroll;
  }

  .status-container {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .breadcrumb {
    font-size: 14px;
  }

  .mark-btn {
    font-size: 14px;
    margin-right: 10px;
    margin-left: 10px;
  }
}