.section4c {
    flex: 2;
    height: 520px;
    border-bottom: 2px solid #eaeaea;
  
  }
  
  .section4c1 {
    border-bottom: 2px solid #eaeaea;
  
  }
  
  .stage-history {
    color: #11334E;
    display: flex;
    align-items: center;
    font-weight: 600;
    position: relative;
    cursor: pointer;
  }
  
  .timeline {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
  }
  
  .timeline h3 {
    font-size: 18px;
    margin-bottom: 30px;
    color: #333;
  }
  
  .timeline-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  
  .timeline-date {
    color: #A7A7A7;
    font-weight: 600;
    font-size: 16px;
    margin-right: 20px;
    margin-top: 6px;
  }
  
  .timeline-content {
    border-left: 2px dashed #dcdcdc;
    padding-left: 18px;
    position: relative;
  }
  
  .timeline-content::before {
    content: '';
    position: absolute;
    top: 6px;
    left: -8px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border: 2px solid #11334E;
    border-radius: 50%;
  }
  
  .timeline-header {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #A7A7A7;
    font-weight: 600;
    margin-bottom: 4px;
  }
  
  .timeline-type {
    color: #A7A7A7;
    margin-right: 4px;
    font-weight: 600;
  
  }
  
  .timeline-time {
    font-size: 16px;
    color: #A7A7A7;
    font-weight: 600;
  }
  
  .timeline-content p {
    font-size: 16px;
    color: #171717;
    margin-top: 10px;
    font-weight: 600;
  }
  


@media (max-width: 1024px) {
  
  .section4c{
    width: 100%;
  }
}

@media (max-width: 768px) {

  .timeline-item {
    flex-direction: row;
  }
}
