.section4d {
    margin-top: 0;
    width: 56%;
    height: 250px;
    margin-left: 42.2%;
    border-left: 2px solid #eaeaea;
  }
  
  .upcoming-container {
    margin-left: 20px;
  }
  
  .upcoming-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .upcoming-header h3 {
    font-size: 18px;
    color: #11334E;
  }
  
  .view-all {
    font-size: 16px;
    color: #11334E;
    text-decoration: underline;
    font-weight: 600;
    cursor: pointer;
  }
  
  .upcoming-cards {
    display: flex;
    gap: 20px;
  }
  
  .card {
    border: 2px solid #eaeaea;
    border-radius: 5px;
    padding: 15px;
    width: 350px;
  }
  
  .card-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
  }
  
  .card-icon {
    font-size: 20px;
    color: #11334E;
  }
  
  .card-header span {
    font-size: 16px;
    font-weight: bold;
    color: #11334E;
  }
  
  .card-body {
    display: flex;
    justify-content: space-between;
  }
  
  .time-info span {
    font-size: 16px;
    font-weight: bold;
    color: #11334E;
  }
  
  .time-info p {
    display: flex;
    align-items: center;
    margin-top: 5px;
    gap: 10px;
    font-size: 14px;
    color: #A7A7A7;
    font-weight: 600;
  }



@media (max-width: 1024px) {

  .section4d {
    width: 100%;
    margin-left: 0;
    border: none;
  }

  .upcoming-container {
    margin-left: 0;
  }
}

@media (max-width: 768px) {

  .upcoming-cards {
    flex-direction: column;
    gap: 15px;
  }

  .view-all {
    margin-right: 20px;
  }

  .card {
    width: 80%;
  }
}
